.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    text-align: center;
}
.hero-content {
    max-width: 600px;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }